* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
.header {
  display: flex;
}
.header__nav--ul {
  list-style-type: none;
}
.header__nav--ul li {
  display: inline;
}
.header__nav--ul a {
  color: black;
  text-decoration: none;
}
.main__p {
  color: rgb(214, 102, 11);
  font-weight: bold;
}
.header__button {
  border: 1px solid rgb(214, 102, 11);
}
.main__button {
  background: rgb(214, 102, 11);
  color: white;
  border: none;
}
.main__button,
.header__button {
  border-radius: 0 15px 15px 15px;
}
.main img {
  border-radius: 30px;
}
